#To install these dependencies, please run the following in your terminal or notebook: !pip install -r requirements.txt
matplotlib
pandas
numpy
opencv-python
openpyxl
PyQt5
vtk
glob2
nibabel
dipy
ntpath
napari[pyqt5]
multiprocess